<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_OpenWeathermap</key>
	<string>10f66a10b9cad69c5478404e51823159</string>
	<key>API_GoogleTranslation</key>
	<string>AIzaSyD-7qmD0GVpwEepke0ZLHJZD2FS_X2SnvI</string>
	<key>API_Fixer</key>
	<string>5d7d6c079441b3412bb1c51f01f231fc</string>
</dict>
</plist>
